<div class="page-body-wrapper">
  <!-- Page Sidebar Start-->
  <div class="sidebar-wrapper">
      <app-sidebar-page></app-sidebar-page>
  </div>
  <!-- Page Sidebar Ends-->
  <div class="page-body">
      <div class="container-fluid">
          <div class="page-title">
              <div class="row">
                  <div class="col-6">
                      <h3>Historia</h3>
                  </div>
                  <div class="col-6">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item">
                              <a href="index.html" data-bs-original-title="" title="">
                                  <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="24"
                                      height="24"
                                      viewBox="0 0 24 24"
                                      fill="none"
                                      stroke="currentColor"
                                      stroke-width="2"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      class="feather feather-home"
                                  >
                                      <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                      <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                  </svg>
                              </a>
                          </li>
                          <li class="breadcrumb-item">Post</li>
                          <li class="breadcrumb-item active">Create</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
      <div class="container-fluid">
          <div class="email-wrap bookmark-wrap">
              <div class="row">
                  <!-- <div class="col-xl-3 col-md-6 box-col-12"> -->
                    
                    <div class="col-xl-3 box-col-6">
                      <div class="email-left-aside">
                          <div class="card">
                              <div class="card-body">
                                  <div class="email-app-sidebar left-bookmark">
                                      <div class="media">
                                          <div class="media-size-email"><img class="me-3 rounded-circle" src="../../../../../../assets/images/user/user.png" alt="" /></div>
                                          <div class="media-body">
                                              <h6 class="f-w-600">EDDYLUJAN</h6>
                                              <p>eddylujan@gmail.com</p>
                                          </div>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- <div class="col-xl-9 col-md-6"> -->
                    <div class="col-xl-9 col-md-12 box-col-12"> 
                      <div class="email-right-aside bookmark-tabcontent">
                          <router-outlet></router-outlet>  
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
