<div class="dev-footer">
  <!-- <p>Footer - Creado por Eddy Lujan</p> -->
  









<div class="container">
  <div class="text-center">
    <p>
      <span class="px-2">Meta</span>
    <span class="px-2">Información</span>
    <span class="px-2">Empleo</span>
    <span class="px-2">Blog</span>
    <span class="px-2">Ayuda</span>
    <span class="px-2">API</span>
    <span class="px-2">Privacidad</span>
    <span class="px-2">Condiciones</span>
    <span class="px-2">Cuentas destacadas</span>
    <span class="px-2">Hashtags</span>
    <span class="px-2">Ubicacioness</span>
    </p>
    
    <p>
      <span class="px-2">Instagram Lite</span>
      <span class="px-2">Privacidad</span>
      <span class="px-2">Condiciones</span>
      <span class="px-2">Cuentas destacadas</span>
    </p>
   
</div>
</div>



</div>