<div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    <div class="sidebar-wrapper">
        <app-sidebar-page></app-sidebar-page>
    </div>
    <!-- Page Sidebar Ends-->
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-6">
                        <h3>Email Application</h3>
                    </div>
                    <div class="col-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html" data-bs-original-title="" title="">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-home"
                                    >
                                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumb-item">Email</li>
                            <li class="breadcrumb-item active">Email Application</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="email-wrap">
                <div class="row">
                    <div class="col-xl-3 col-md-6 box-col-6">
                        <div class="email-left-aside">
                            <div class="card">
                                <div class="card-body">
                                    <div class="email-app-sidebar">
                                        <div class="media">
                                            <div class="media-size-email"><img class="me-3 rounded-circle" src="../../../../../../assets/images/user/user.png" alt="" /></div>
                                            <div class="media-body">
                                                <h6 class="f-w-600">MARKJENCO</h6>
                                                <p>Markjecno@gmail.com</p>
                                            </div>
                                        </div>
                                        <ul class="nav main-menu" role="tablist">
                                            <li class="nav-item">
                                                <a class="btn-primary btn-block btn-mail w-100" id="pills-darkhome-tab" data-bs-toggle="pill" [routerLink]="['send']" role="tab" aria-controls="pills-darkhome" aria-selected="true">
                                                    <i class="icofont icofont-envelope me-2"></i> Redactar
                                                </a>
                                            </li>
                                            <!-- <li class="nav-item">
                                                <a class="show" id="pills-darkprofile-tab" data-bs-toggle="pill" href="#pills-darkprofile" role="tab" aria-controls="pills-darkprofile" aria-selected="false">
                                                    <span class="title"><i class="icon-import"></i> Inbox</span><span class="badge pull-right">(236)</span>
                                                </a>
                                            </li> -->
                                            <li [routerLinkActive]="['active']">
                                                <a [routerLink]="['received']">
                                                    <span class="title"><i class="icon-folder"></i> Recibidos</span><span class="badge pull-right">(2)</span>
                                                </a>
                                            </li>
                                            <li [routerLinkActive]="['active']">
                                                <a [routerLink]="['sended']">
                                                    <span class="title"><i class="icon-new-window"></i> Enviados</span><span class="badge pull-right">(69)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="title"><i class="icon-trash"></i> Papelera</span><span class="badge pull-right">(99)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="title"><i class="icon-info-alt"></i> Importantes</span>
                                                </a>
                                            </li>
                                            
                                            <li>
                                                <hr />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-md-6">
                        <div class="email-right-aside">
                            <!-- CARD EMAIL - ALL EMAIL -->
                            <!-- <app-received></app-received> -->
                            <router-outlet></router-outlet>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
